td{width: 50vw ; height: 57px;}
.logo{width: 10px;}
#come{background-color: #7e99aa;  height: 3vw;}
table{border: none; border-collapse:collapse}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
    font-size: large;
    text-align: center;
  }
a:link { color: black; }
.pque{height: 39px; background-color: #CDE7F7;}
.final{background-color: #6C56BA;}
.text{text-align: center; background-color: #CDE7F7;}
.entre{background-color: #CDE7F7;}